:root {
    --antique-white: antiquewhite;
    --space: #33393f;
    --bright-blue: #1DFBFF;
    --neon-pink: #FB63FF;
}
/* Add purple or red shadow to text */

::selection {
    background-color: var(--neon-pink);
    color: var(--space);
}

html {
    font-size: 68.75%;
}

body {
 background-image: url(../images/space-bg.jpg);
 background-size: cover;
 color: var(--antique-white);
 line-height: 1.5;
 font-size: 1.75rem;
 /* font-family:'consolas' */
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.5em;
}

p {
    margin: 1em;
}

header {
 background-color: var(--space);
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-between;
}

header img {
    margin: 1.5rem;
    border-radius: 100px;
    width: 7rem;
    height: 7rem;
}

/* Add glow to image links */

header nav ul li {
    display: inline-block;
    margin: 2rem;
    padding-top: 1rem;
    font-size: 2rem;
}

header .developer-name {
    margin: 1rem 0;
    background-color: var(--bright-blue);
    color: var(--space);
}

header nav ul li a {
    color: var(--bright-blue);
}

main .content-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main .content-section .section-header {
    margin: 0 1rem;
    padding: 0 1rem;
}

main .content-section .work-section {
    margin-left: 3rem;
}